.product{
    width:200px;
    height:250px;
    text-align: center;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    position: relative;
}
.product img{
    width: auto;
    height: auto;
    max-width: 150px;
    margin: 0 auto;
}
.product button{
    width: 190px;
    height: 35px;
    color: orange;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.product h5{
    margin:0;
    margin-top:5px;
    margin-bottom: 10px;
    padding: 0;

}
.product p{
    margin: 0;
    width:100%;
    position: absolute;
    bottom: 65px;
}
#amount{
    display:flex;
    position: absolute;
    bottom:42px;
}
#amount input{
    width:70%;
}
#amount button{
    width:12%;
    height: auto;
    position: relative;
    color:black;
    bottom: auto;
    right: auto;
}
#subtract{
    margin-left: 1.5%;
}
#add{
    margin-right: 1.5%;
}