.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbow infinite 5s alternate linear;
}

@keyframes rainbow{
  from{
    transform: translateX(-20%);
  }
  to{
    transform: translateX(20%);
  }
}
h2{
  width:30%;
  margin: 0 auto;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
  font-size: 3rem;
  color: black;
  background-color: green;
}
h2:hover{
  background-color: pink;
  color:green;
}